<div class="col-9 col-sm-6 col-md-4 col-lg-3 col-xl-2 my-5 my-sm-4 px-xl-4 px-exl-5">
	<div class="card text-center">
		<div class="circle-img">
			<img class="card-img-top" src="{{ image }}">
		</div>
		<div class="card-body p-0 mt-3">
			<h5 class="card-title">{{ title }} €{{ price }}</h5>
			{% if showTotal|default(true) %}
				<h6 class="card-subtitle text-muted" id="total_consumed_{{ id }}">Total Consumed: {{ amount }}</h6>
			{% endif %}
			<p class="card-text pb-sm-3">{{ text }}</p>
			<a class="btn btn-primary btn-add" id="{{ id }}" onclick="{{ onclick }}">+</a>
		</div>
	</div>
</div>