html {
	--scaling: 0.5;
}

.bg-primary {
	background-color: var(--primary-color) !important;
}

.btn-primary {
	background-color: var(--primary-color) !important;
	border-color: var(--primary-color) !important;
}

.navbar {
	position: fixed;
	width: 100%;
	top: 0px;
	left: 0px;
	z-index: 999;
}

.post-navbar-pusher {
	height: 60px;
}

[type="submit"] {
	background-color: white;
	border: var(--primary-color) 1px solid;
	color: var(--primary-color);
	padding: 5px 10px;
	border-radius: 5px;
	transition: background-color 0.2s ease, color 0.2s ease;
}

[type="submit"]:hover {
	background-color: var(--primary-color);
	color: white;
}

#product_container .card {
	background-color: transparent;
	border: none;
	height: 100%;
}

#product_container .card .card-body {
	display: flex;
	flex-direction: column;
}

#product_container .card .card-body .card-text {
	flex: 1;
}

#product_container .card .circle-img {
	width: 100%;
	height: 0px;
	padding-bottom: 100%;
	position: relative;
}

#product_container .card .circle-img .card-img-top {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: hidden;
	object-fit: cover;
	object-position: center;
	border-radius: 100%;
	transition: 0.5s ease;
	background-color: rgba(0, 0, 0, 0.1);
}

#product_container .card .btn-add {
	font-family: arial;
	font-size: 80px;
	color: white;
	width: 100%;
	height: 1.1em;
	line-height: 1.06em;
	padding: 0px;
	margin-left: 0px;
	cursor: pointer;
	transition: font-size 0.2s ease, width 0.2s ease, margin 0.2s ease;
}

#product_container .card .btn-add:hover {
	font-size: 85px;
	width: calc(100% + 10px);
	margin-left: -5px;
	margin-top: -2px;
	margin-bottom: -3px;
}

#product_container .card:hover .circle-img .card-img-top {
	border-radius: 10px;
}

#user-select-panel .panel {
	--panel-border-radius: calc(var(--scaling) * 40px);
	position: fixed;
	left: calc(var(--scaling) * 40px);
	top: calc(var(--scaling) * 40px);
	width: calc(100vw - (var(--scaling) * 40px * 2));
	height: calc(100vh - (var(--scaling) * 40px * 2));
	z-index: 999;
	background-color: white;
	border-radius: var(--panel-border-radius);
	box-shadow: 0px 0px calc(var(--scaling) * 40px) 0px rgba(0, 0, 0, 0.8);
	animation: pop-in 0.2s ease-out 1;
	overflow: hidden;
}

#user-select-panel::before {
	content: '';
	display: block;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
	z-index: 999;
	background-color: rgba(0, 0, 0, 0.5);
}

#user-select-panel .inputs {
	width: 100%;
	max-height: calc(100% - 100px);
	padding: calc(var(--scaling) * 40px);
	overflow-y: scroll;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

#user-select-panel .inputs input[type=checkbox] {
	display: none;
}

#user-select-panel .inputs input[type=checkbox] + label {
	flex: 0;
	font-size: calc(var(--scaling) * 45px);
	padding: 0.1em 0.6em;
	cursor: pointer;
	margin: 0.4em;
	border: calc(var(--scaling) * 3px) solid var(--btn-color);
	color: var(--btn-color);
	border-radius: 0.3em;
	background-color: white;
	transition: background-color 0.3s ease, color 0.3s ease;
}

#user-select-panel .inputs input[type=checkbox]:checked + label {
	background-color: var(--btn-color);
	color: white;
}

#user-select-panel .buttons {
	width: 100%;
	height: calc(var(--scaling) * 100px);
	display: flex;
	flex-direction: row;
	position: absolute;
	bottom: 0;
}

#user-select-panel .buttons .confirm-button, #user-select-panel .buttons .cancel-button {
	font-size: calc(var(--scaling) * 40px);
	padding: 0.5em;
	height: 100%;
	font-weight: bold;
	line-height: 0px;
	background-color: white;
	border: 0.25em solid var(--btn-color);
	color: var(--btn-color);
	transition: color 0.3s ease, background-color 0.3s ease;
}

#user-select-panel .buttons .confirm-button:hover, #user-select-panel .buttons .cancel-button:hover {
	background-color: var(--btn-color);
	color: white;
}

#user-select-panel .buttons .confirm-button {
	--btn-color: #179017;
	flex: 0 1 65%;
	border-bottom-left-radius: var(--panel-border-radius);
}

#user-select-panel .buttons .cancel-button {
	--btn-color: #9f0f00;
	flex: 0 1 35%;
	border-bottom-right-radius: var(--panel-border-radius);
}

@keyframes pop-in {
	0% {
		transform: scale(0.95);
	}

	100% {
		transform: scale(1);
	}
}

@media (min-width: 768px) {
	html {
		--scaling: 0.75;
	}
}

@media (min-width: 1200px) {
	html {
		--scaling: 1;
	}
}

@media (min-width: 1630px) {
	.px-exl-5 {
		padding-left: 3rem !important;
		padding-right: 3rem !important;
	}

	#product_container > .row > [class^='col-']:after {
		content: '';
		display: block;
		position: absolute;
		right: 0px;
		top: 10%;
		height: 80%;
		border-left: 1px solid #f0f0f0;
	}

	#product_container > .row > [class^='col-']:last-child:after {
		display: none;
	}
}