{% set colors = ['#F44336', '#9C27B0', '#2196F3', '#009688', '#8BC34A', '#FF9800', '#607D8B'] %}

<div id="user-select-panel" data-product-id="{{ productId }}">
	<div class="panel">
		<div class="inputs">
			{% for user in usersList %}
				{% set color = colors[user.username|nameValue|modulo(colors|length)] %}

				<input type="checkbox" name="users" value="{{ user.id }}" id="user-{{ user.id }}"> <label for="user-{{ user.id }}" style="--btn-color: {{ color }}">{{ user.username }}</label>
			{% endfor %}
		</div>

		<div class="buttons">
			<button class="confirm-button" onclick="process_selection()">Confirm</button>
			<button class="cancel-button" onclick="close_selection()">Cancel</button>
		</div>
	</div>
</div>