{% load account %}
{% load static %}
{% load user_has_product_extras %}
{% total_cost user.id as total_amount %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block head_title %}HoldMyBeer{% endblock %}</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% if user.is_authenticated %}Logged In{% else %}Not Logged In{% endif %}</title>

    <link rel="apple-touch-icon" sizes="180x180" href="{% static "/CountMyBeer/apple-touch-icon.png" %}?v=RymgwdgO09">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "/CountMyBeer/favicon-32x32.png" %}?v=RymgwdgO09">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "/CountMyBeer/favicon-16x16.png" %}?v=RymgwdgO09">
    <link rel="manifest" href="{% static "/CountMyBeer/site.webmanifest" %}?v=RymgwdgO09">
    <link rel="mask-icon" href="{% static "/CountMyBeer/safari-pinned-tab.svg" %}?v=RymgwdgO09" color="#5bbad5">
    <link rel="shortcut icon" href="{% static "/CountMyBeer/favicon.ico" %}?v=RymgwdgO09">
    <meta name="apple-mobile-web-app-title" content="Hold My Beer">
    <meta name="application-name" content="Hold My Beer">
    <meta name="msapplication-TileColor" content="#334d5c">
    <meta name="msapplication-config" content="{% static "/CountMyBeer/browserconfig.xml" %}?v=RymgwdgO09">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "CountMyBeer/custom.css" %}">

    <script>const staticPath = "{{ request.scheme }}://{{ request.get_host }}{% static "CountMyBeer/" %}";</script>
    <script type="text/javascript"> const CSRF_TOKEN = "{{ csrf_token }}"; </script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/nunjucks/3.0.1/nunjucks.min.js" integrity="sha256-sh9FYQZVVLprCQB3/IcNyCRrZwu9hZ+xLHhUszDfsK4=" crossorigin="anonymous"></script>
    <style>
        :root {
          --primary-color: #379ab8;
        }
    </style>
    {% block extra_head %}
    {% endblock %}
</head>
<body>
    {% include "CountMyBeer/navbar.html" %}
    {% block body %}
        {% block content %}
        {% endblock %}
    {% endblock %}
    {% block extra_body %}
    {% endblock %}
</body>
</html>