{% extends "CountMyBeer/base.html" %}

{% load account %}
{% load static %}

{% block extra_head %}
    {% if user.is_borrel %}
        <script src="{% static "CountMyBeer/borrel.js" %}" type="application/javascript"></script>
    {% endif %}
{% endblock %}

{% block content %}
    {% if user.is_borrel %}
        <div class="container-fluid" id="product_container">
            <div class="row justify-content-around py-4" id="product_row"></div>
        </div>
    {% endif %}
{% endblock %}
