<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    {% if user.is_authenticated %}
        <a class="navbar-brand" href="/">{{ user.get_username }}</a>
    {% else %}
        <a class="navbar-brand" href="/accounts/login">Click here to log in</a>
    {% endif %}
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            {% if user.is_authenticated %}
                <li class="nav-item active">
                    <a class="nav-link" href="/accounts/logout/">Logout</a>
                </li>
            {% endif %}
            {% if user.is_staff %}
                <li class="nav-item active">
                    <a class="nav-link" href="/overview/">Overview</a>
                </li>
            {% endif %}
        </ul>
    </div>
    {% if user.is_authenticated and not user.is_borrel %}
        <span class="navbar-text" id="total_cost">
            Total Cost: {{ total_amount }}
        </span>
    {% endif %}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>
<div class="post-navbar-pusher"></div>